/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.boutonProjet{
	display: flex;
	justify-content: center;
	align-items: center;

}

/* Modal */
.js-close-modal,.js-modal-close,.js-close3-modal{
	position: relative;
	right: -38rem;
}
/* icone suppression */
.photo article{
	position: relative;
}
.fa-trash-can{
	position: absolute;
	top: 0;
	right: 0.1rem;

}
.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper{
	overflow: auto;
	width: 700px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-color: #fff;
}
.js-modal{
	text-decoration: none;
	color: inherit;
}
#titlemodal{
	text-align: center;
	margin-bottom: 1rem;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding: 1rem;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}
.user-email-error-msg,
.user-password-error-msg,
.user-not-error-msg{
	display: none;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	padding: 1rem;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio{
	padding: 1rem;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
 .boutons{
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}
.elts{
	border: 1px solid #1D6154;
	padding: 0.5rem;
	color: #1D6154;
	font-weight: bold;
	border-radius: 1rem;
}
.elts:focus{
	background-color: #1D6154;
	color: whitesmoke;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* Article photo */
article img{
	width: 25%;
}
.photo,.album{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	border-bottom: 0.3rem solid #1D6154;
	padding-bottom: 3rem;
	
}
.photo img {
	width: 100%;

}
.ajouter,.ajoute{
	position: relative;
	left: 10rem;
	margin: 3rem;
	width: 15rem;
	height: 2rem;
	border: none;
	background-color: #1D6154;
	border-radius: 1rem;
	color: #fff;

}
.supprimer,.supprime{
	text-align: center;
	color: red;
	padding: 1rem;

}
.top{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 2rem;
	background: black;
	color: #fff;
	padding: 1rem;
}
.btn{
	border: none;
	border-radius: 1rem;
	padding: 0 1rem;
	height: 2rem;
}
/* Responsivité */
@media (max-width:800px) {
	.gallery {
		width: 100%;
		display: grid;
		grid-template-columns:  1fr;

	}
	header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 50px 0
	}
	#introduction {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

/* pour ajout photo */
.espacePhoto{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #E8F1F6;
	width: 420px;
    height: 200px;
	border: 1px solid #B1663C;
	position: relative;
	left: 5rem;

}
.ajout-photo{
	padding: 1rem;
}
.fa-image{
	font-size: 6rem;
	width: 100%;
}
.info{
	display: flex;
	flex-direction: column;
}
.info input{
	height: 5rem;
}
.photEnvoi{
	border-bottom: 1px solid #b8e4fc;
	padding-bottom: 2rem;
	position: relative;
}
.val{
	width: 11rem;
	margin: 1.5rem;
	position: relative;
	left: 12rem;
	height: 2rem;
	border: none;
	border-radius: 1.5rem;
	color:#306685;
	background-color: #B9C5CC;
	border: none;
	font-size: 2rem;
	padding: .5rem 2.5rem; 
}
/* formulaire */
 .ajout-photo{
	background-color: #B9C5CC;
	font-size: 1.54rem;
	padding: .5rem 2.5rem;
	border: none;
	border-radius: 20px;
	color:#306685;
}
.hidden{
	display: none;
}
.blocphoto{
	background: #E8F1F7;
	border-radius: 5px;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 75%;
	position: relative;
}
.blocphoto .ajoutPhoto, .btn-valider{
	background-color: #B9C5CC;
	font-size: 1.54rem;
	padding: .5rem 2.5rem;
	border: none;
	border-radius: 20px;
	color:#306685;
}
.inputInfo{
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid gray
}
.text{
	height: 50px;
	border: none;
	box-shadow: 0 0 50px rgb(212, 209, 209);
}
.boutonValider{
	display: grid;
	place-items: center;
	margin-top: 2rem;
}
.btn-valider{
	color: #ffffff;
	background-color:  #A7A7A7;
	padding: .5rem 5rem;
}
#imageInput{
	height: 100%;
	width: 45%;
	z-index: 3;
	position: absolute;
}
.fa-image{
	font-size: 5rem;
	color:  #B9C5CC;
}

